[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Michał Lower
	email = keton22@gmail.com
	signingkey = 4A9AB1BB988BBECF
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[push]
	default = simple
[gpg]
	program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
[commit]
	gpgsign = true
[core]
	editor = code --wait
