[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Michał Lower
	email = keton22@gmail.com
	signingkey = 4A9AB1BB988BBECF
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[push]
	default = simple
[gpg]
	program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
[commit]
	gpgsign = true
[core]
	editor = code --wait

# options below require https://github.com/dandavison/delta helper tool
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[interactive]
	diffFilter = delta --color-only

[delta]
    features = decorations theme-tweaks
    line-numbers = true
    diff-so-fancy = true
    navigate = true
    syntax-theme = Solarized (dark)

[delta "decorations"]
    commit-style = bright-green
    commit-decoration-style = bold green ul
    file-style = bright-green
    file-decoration-style = bold green ul
    hunk-header-file-style = bright-blue
    hunk-header-line-number-style = bright-blue
    hunk-header-decoration-style = blue box

[delta "theme-tweaks"]
    whitespace-error-style = 22 reverse
    line-numbers-minus-style = bright-red
    plus-style = bright-green
    plus-non-emph-style = bright-green
    minus-style = bright-red
    minus-non-emph-style = bright-red


